<div id="sp-nav">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
        	<li class="topcoat-list__item"><a href="#/slots">Vos dispos</a></li>
            <li class="topcoat-list__item"><a href="#/clubs">Clubs et terrains</a></li>
            <li class="topcoat-list__item"><a href="#/account">Votre compte</a></li>
        </ul>
    </div>
</div>

<div id="sp-page">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggle()">
                <span class="topcoat-icon topcoat-icon--menu-stack"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Tennis Me</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <a class="topcoat-icon-button--quiet">
                <span class="topcoat-icon topcoat-icon--edit"></span>
            </a>
        </div>
    </div>
    <h1>Votre compte</h1>
    <div class="row-fluid">
    <div class="span2">
            <form name="profileForm" ng-controller="ProfileCtrl">
                    Name: <input type="name" name="name" ng-model="name" required>
                    Email: <input type="email" name="email" ng-model="email" required>
                    <span class="error" ng-show="profileForm.email.$error.required"></span>
                    <span class="error" ng-show="profileForm.email.$error.email"></span>
                    Phone number: <input type="text" name="phone" ng-model="phone">
                    <span class="error" ng-show="profileForm.phone.$error.required"></span>
            Sex: <div class="btn-group">
                    <button type="button" class="btn" ng-model="gender" btn-radio="'F'">Female</button>
                    <button type="button" class="btn" ng-model="gender" btn-radio="'M'">Male</button>
                </div></br>
            Date of birth: 
            <div class="control-group input-append">
              <input id="inputDatepicker" class="input-small" type="text" ng-model="dob" data-date-format="yyyy-mm-dd" bs-datepicker>
              <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
            </div>
            Level: <input type="text" class="span3" ng-model="level" typeahead="level for level in levels | filter:$viewValue">
            <button ng-click="validate()" ng-disabled="profileForm.$invalid"  class="btn btn-primary">Valider</button> ou <a href="#/slots">Annuler</a>
            </form>
    </div>
  </div>

</div>