<div id="sp-nav" ng-controller="NavCtrl">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
           <li class="topcoat-list__item">
                <button class="topcoat-button--quiet" ng-click="page('/dispos')">Vos dispos</button>
            </li>
            <li class="topcoat-list__item">
                <button class="topcoat-button--quiet" ng-click="page('/clubs')">Clubs et terrains</button>
            </li>
            <li class="topcoat-list__item">
                <button class="topcoat-button--quiet" ng-click="page('/account')">Votre compte</button>
            </li>
        </ul>
    </div>
</div>

<div id="sp-page">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggle()">
                <span class="topcoat-icon topcoat-icon--menu-stack"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center">
            <h1 class="topcoat-navigation-bar__title">TennisMe</h1>
        </div>
    </div>
    <div class="topcoat-list__container list">
        <h2 class="topcoat-list__header"><b>{{printableDate}}</b> Nouvelle disponibilité</h2>
        <ul class="topcoat-list">
           
            <li class="topcoat-list__item">
                <b>Horaire</b>
                <div class="topcoat-button-bar">
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox" ng-model="mmorning" ng-init="mmorning=false">
                        <button class="topcoat-button-bar__button">Matin</button>
                    </label>
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox" ng-model="midday" ng-init="midday=false">
                        <button class="topcoat-button-bar__button">Midi</button>
                    </label>
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox" ng-model="afternoon" ng-init="afternoon=false">
                        <button class="topcoat-button-bar__button">Après-midi</button>
                    </label>    
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox" ng-model="evening" ng-init="evening=false">
                        <button class="topcoat-button-bar__button">Soir</button>
                    </label>
                </div>
            </li>
            
            <li class="topcoat-list__item">
                <b>Lieu</b>
                <div ng-controller="GeolocationCtrl">
                    <input type="search" value="" placeholder="search" class="topcoat-search-input">
                </div>
            </li>
            <li class="topcoat-list__item">
                <b>Message</b>
                <div ng-controller="GeolocationCtrl">
                    <input type="search" value="" placeholder="search" class="topcoat-search-input">
                </div>
            </li>
            <li class="topcoat-list__item">
               <button class="topcoat-button--cta" ng-click="validate()">Valider</button> ou <a href="#/slots">Annuler</a>
            </li>
        </ul>
    </div>
</div>