<div id="sp-nav">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
        	<li class="topcoat-list__item">Vos dispos</li>
            <li class="topcoat-list__item">Clubs et terrains</li>
            <li class="topcoat-list__item">Votre compte</li>
        </ul>
    </div>
</div>

<div id="sp-page">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggle()">
                <span class="topcoat-icon topcoat-icon--menu-stack"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Tennis Me</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <a class="topcoat-icon-button--quiet">
                <span class="topcoat-icon topcoat-icon--edit"></span>
            </a>
        </div>
    </div>
    <h1>Vos disponibilités</h1>
</div>