<div id="sp-nav" ng-controller="NavCtrl">
    <div class="topcoat-list-container">
        <ul class="topcoat-list">
           <li class="topcoat-list__item">
                <button class="topcoat-button--quiet" ng-click="page('/dispos')">Vos dispos</button>
            </li>
            <li class="topcoat-list__item">
                <button class="topcoat-button--quiet" ng-click="page('/clubs')">Clubs et terrains</button>
            </li>
            <li class="topcoat-list__item">
                <button class="topcoat-button--quiet" ng-click="page('/account')">Votre compte</button>
            </li>
        </ul>
    </div>
</div>

<div id="sp-page">
    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" href="" ng-click="$spMenu.toggle()">
                <span class="topcoat-icon topcoat-icon--menu-stack"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center">
            <h1 class="topcoat-navigation-bar__title">TennisMe</h1>
        </div>
    </div>
    <div class="topcoat-list__container list">
        <h2 class="topcoat-list__header"><b>{{slotDate}}</b> Nouvelle disponibilité</h2>
        <ul class="topcoat-list">
            <b>Horaire</b>
            <li class="topcoat-list__item">
                
                <div class="topcoat-button-bar">
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">7h</button>
                    </label>
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">8h</button>
                    </label>
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">9h</button>
                    </label>    
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">10h</button>
                    </label>
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">11h</button>
                    </label>
                </div>
            </li>
            <li class="topcoat-list__item">
                <div class="topcoat-button-bar">
                   <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">12h</button>
                    </label>
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">13h</button>
                    </label>
                </div>
            </li>
            <li class="topcoat-list__item">
                                <div class="topcoat-button-bar">
                   <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">14h</button>
                    </label>
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">15h</button>
                    </label>
                     <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">16h</button>
                    </label>
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">17h</button>
                    </label>
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">18h</button>
                    </label>
                </div>
            </li>
            <li class="topcoat-list__item">
                <div class="topcoat-button-bar">
                   <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">19h</button>
                    </label>
                    <label class="topcoat-button-bar__item">
                        <input type="checkbox">
                        <button class="topcoat-button-bar__button">20h</button>
                    </label>
                </div>
            </li>
            <b>Lieu</b>
            <li class="topcoat-list__item">
                <div class="topcoat-tab-bar">
                   <label class="topcoat-tab-bar__item">
                     <input type="radio" name="topcoat" class="hide-input">
                     <button class="topcoat-tab-bar__button">A proximité</button>
                   </label>
                   <label class="topcoat-tab-bar__item">
                     <input type="radio" name="topcoat">
                     <button class="topcoat-tab-bar__button">Autre adresse</button>
                   </label>
                   <label class="topcoat-tab-bar__item">
                     <input type="radio" name="topcoat">
                     <button class="topcoat-tab-bar__button">Club</button>
                   </label>
                </div>
            </li>
        </ul>
    </div>
</div>